<!-- email
password
dark
lang
turistear
taxonomia -->
<mat-card>
  @if(!showCodeInput){
    <form [formGroup]="emailForm">
        <!-- EMAIL -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
      <button mat-raised-button [disabled]="!emailForm.valid" (click)="updateEmail()">Update email</button>
    </form>
  }@else if(showCodeInput){
      <form [formGroup]="emailCodeForm">
        <mat-form-field>
          <mat-label>Enter confirmation code to update email to {{emailForm.value.email}}</mat-label>
          <input matInput formControlName="code" required>
        </mat-form-field>
        <button mat-raised-button [disabled]="!emailCodeForm.valid" (click)="sendEmailCode()">Send code</button>
        <button mat-raised-button (click)="showCodeInput=!showCodeInput">Cancel</button>
      </form>
    }
      <!-- PASSWORD -->
      <form [formGroup]="pwForm">
        <div>Update password</div>
        <mat-form-field>
          <mat-label>Old password</mat-label>
          <input type="password" matInput formControlName="oldPassword" required>
          <mat-error *ngIf="pwForm.controls['oldPassword'].errors">Password
            must be at least 8 chars long and have one number, one capital letter and one special character.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input type="password" matInput formControlName="newPassword" required>
          <mat-error *ngIf="pwForm.controls['newPassword'].errors">New password
            must be at least 8 chars long and have one number, one capital letter and one special character.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required>
            <mat-error
            *ngIf="pwForm.controls['confirmPassword'].errors && pwForm.controls['confirmPassword'].errors['passwordConfirmed']">Passwords
            don't match</mat-error>
          </mat-form-field>
          <mat-error *ngIf="pwForm.controls['oldPassword'].dirty && pwForm.controls['newPassword'].dirty && pwForm.hasError('differentPassword')">New password must be different.</mat-error>
        <button mat-raised-button [disabled]="!pwForm.valid" (click)="updatePassword()">Update password</button>
      </form>
</mat-card>

    <!-- DELETE ACCOUNT -->
    <button mat-button (click)="deleteAccount()">DELETE ACCOUNT</button>