<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="">My App</span>
    <span class="example-spacer"></span>
    @if(isLoggedIn$|async){
    <button (click)="signout()">Signout</button>
    <span>Hola, {{email$|async}}!</span>
    }@else{
    <a routerLink="auth/signin">Signin</a>
    <a routerLink="auth/signup">Signup</a>
    }
    <button routerLink="auth/signin" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <i class="material-icons">account_circle</i>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

