<mat-card>
    <form [formGroup]="form">
      <mat-slide-toggle formControlName="taxonomia">Subscribe to TaxonomIA</mat-slide-toggle>
      <mat-slide-toggle formControlName="turistear">Subscribe to TuristeAR</mat-slide-toggle>
      <mat-slide-toggle formControlName="dark_mode_pref">Dark mode</mat-slide-toggle>
      <mat-form-field>
        <mat-label>LANGUAGES</mat-label>
        <mat-select formControlName="language">
          <mat-select-trigger>
            {{form.value.language}}
          </mat-select-trigger>
          @for (language of languages; track $index) {
        <mat-option [value]="language">{{language}}</mat-option>
      }
        </mat-select>
      </mat-form-field>

      <button mat-raised-button [disabled]="!form.valid" (click)="updateUser()">Update config</button>
    </form>
  </mat-card>