<div class="nv-container">
    <div class="nv-container-buttonContainer">

        <!-- <a routerLink="route_turistear">Go to TuristeAR</a>
        <a routerLink="route_taxonomia">Go to TaxonomIA</a> -->
        
        <!-- TURISTEAR  -->
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>TuristeAR</mat-card-title>
              <mat-card-subtitle>Immersive experiences for tourists</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/turistear-card-img.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia gravida 
                ex vel vulputate. Aliquam erat volutpat. Etiam pretium eu nibh et pulvinar. Aliquam 
                pharetra nulla at augue elementum, at posuere enim suscipit. Duis auctor, lorem vitae 
                consequat finibus, mi libero fermentum nisi, in fermentum ligula est vitae mauris. 
                Quisque sit amet blandit turpis. Ut consequat, felis a iaculis ultricies, sapien.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="/info/turistear">LEARN MORE</button>
              <button mat-button routerLink="/auth/signin">SIGN IN</button>
            </mat-card-actions>
          </mat-card>


<!-- TAXONOMIA -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>TaxonomIA</mat-card-title>
      <mat-card-subtitle>Identify and store organisms with IA</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../assets/taxonomia-card-img.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia gravida 
        ex vel vulputate. Aliquam erat volutpat. Etiam pretium eu nibh et pulvinar. Aliquam 
        pharetra nulla at augue elementum, at posuere enim suscipit. Duis auctor, lorem vitae 
        consequat finibus, mi libero fermentum nisi, in fermentum ligula est vitae mauris. 
        Quisque sit amet blandit turpis. Ut consequat, felis a iaculis ultricies, sapien..
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/info/taxonomia">LEARN MORE</button>
      <button mat-button routerLink="/auth/signin">SIGN IN</button>
    </mat-card-actions>
  </mat-card>
    </div>
</div>