:host{
    display:block;

    margin: 3em 0em; 
}
.nv-container{
    min-height:80%;
    display:grid;
    place-content: center;
}

.nv-container-buttonContainer{
    display:flex;
    justify-content: space-between;
    gap:2rem;
}

.example-card {
    max-width: 400px;
  }

  .example-card img{
    height: 300px;
    object-fit:cover;
  }

  .example-card p{
    margin-block-start:1rem;
  }
  
  @media(width<860px) {
    .nv-container-buttonContainer{
        flex-direction:column;
        justify-content: space-between;
        gap:2rem;
    }
  }